:root {
  /*primary*/
  --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);
  /*gradients*/
  --clr-gradient-soft-violet: hsl(273, 75%, 66%);
  --clr-gradient-soft-blue: hsl(240, 73%, 65%);
  /*text*/
  --clr-txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-txt-dark-grayish-blue: hsl(240, 6%, 50%);
  /*dividers*/
  --clr-dividers-light-grayish-blue: hsl(240, 5%, 91%);
}

/* html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    var(--clr-gradient-soft-violet),
    var(--clr-gradient-soft-blue)
  );
}

.faq-card {
  width: 375px;
  height: auto;
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  margin: 180px auto 30px auto;
}

.mobile-illustration {
  position: absolute;
  top: -120px;
  left: 50px;
  width: 70%;
}

.illustration-shadow-mobile {
  position: absolute;
  left: 60px;
}

.desktop-illustration {
  display: none;
}

.illustration-shadow-desktop {
  display: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 130px auto 20px auto;
}

.faq-container {
  margin: auto 20px 100px 20px;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.question {
  display: flex;
  text-align: left;
  font-size: 1rem;
}

.answer {
  display: none;
}

.select-arrow {
  width: 12px;
  height: 10px;
}

label {
  margin-left: auto;
  margin-top: 20px;
}

.select-arrow:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type="checkbox"]:checked ~ p {
  display: flex;
  text-align: left;
  font-size: 1rem;
  margin: 10px auto;
  max-height: auto;
  transition: 0.4s ease;
}

hr.solid {
  border-top: 3px solid -var(--clr-dividers-light-grayish-blue);
}

@media screen and (min-width: 1000px) {
  .faq-card {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 180px auto 30px auto;
  }

  .faq-container {
    width: 45%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: 30px;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
  }

  .question {
    padding-right: 30px;
  }

  .desktop-illustration {
    display: flex;
    position: absolute;
    top: -85px;
    left: -80px;
    width: 50%;
    margin-top: 200px;
  }

  .illustration-shadow-desktop {
    display: block;
    width: 50%;
    top: 110px;
    left: -50px;
    position: absolute;
  }

  .mobile-illustration {
    display: none;
  }

  .illustration-shadow-mobile {
    display: none;
  }
}
