:root {
  /*primary*/
  --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);
  /*gradients*/
  --clr-gradient-soft-violet: hsl(273, 75%, 66%);
  --clr-gradient-soft-blue: hsl(240, 73%, 65%);
  /*text*/
  --clr-txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-txt-dark-grayish-blue: hsl(240, 6%, 50%);
  /*dividers*/
  --clr-dividers-light-grayish-blue: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    var(--clr-gradient-soft-violet),
    var(--clr-gradient-soft-blue)
  );
}

.faq-card {
  width: 375px;
  height: auto;
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  margin: 180px auto 30px auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mobile-illustration {
  position: absolute;
  top: -120px;
  left: 50px;
  width: 70%;
}

.illustration-shadow-mobile {
  position: absolute;
  left: 60px;
}

.desktop-illustration {
  display: none;
}

.illustration-shadow-desktop {
  display: none;
}

.illustration-pattern-desktop {
  display: none;
}

.illustration-box-desktop {
  display: none;
}

.faq-container {
  margin: auto 20px 100px 20px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 130px auto 20px auto;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.question {
  display: flex;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-txt-dark-grayish-blue);
}

.answer {
  display: none;
}

.question:hover {
  color: var(--clr-soft-red);
  cursor: pointer;
}

.select-arrow {
  width: 15px;
  height: 13px;
}

.select-arrow:hover {
  cursor: pointer;
}

.arrow {
  margin-left: auto;
  margin-top: 20px;
}

/* This webpage helped me solve toggling without the use of js
https://css-tricks.com/the-checkbox-hack/ */

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type="checkbox"]:checked ~ .answer {
  display: flex;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-txt-very-dark-grayish-blue);
  margin: -10px auto 10px auto;
  max-height: auto;
  transition: 0.4s ease;
}

#faq-text-toggle-1,
#faq-text-toggle-2,
#faq-text-toggle-3 #faq-text-toggle-4,
#faq-text-toggle-5:checked ~ .answer {
  display: flex;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-txt-very-dark-grayish-blue);
  margin: -10px auto 10px auto;
  max-height: auto;
  transition: 0.4s ease;
}

/* #text-color,
#text-color-2,
#text-color-3,
#text-color-4,
#text-color-5:checked ~ .question::after {
  color: #000;
} */

input[type="checkbox"]:checked ~ .arrow {
  transform: rotate(180deg);
  margin-bottom: 30px;
}

hr.solid {
  border-top: 1px solid var(--clr-dividers-light-grayish-blue);
}

@media screen and (min-width: 1000px) {
  .faq-card {
    display: flex;
    flex-direction: row;
    width: 950px;
    height: auto;
    min-height: 500px;
    position: relative;
    flex-wrap: wrap;
    margin: auto 0;
  }

  .faq-container {
    width: 40%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: 100px;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-top: 90px;
  }

  .question {
    padding-right: 30px;
  }

  /* This webpage helped me with absolute positioning of the image elements over the main card div
https://css-tricks.com/absolute-positioning-inside-relative-positioning/ */

  .desktop-illustration {
    display: flex;
    position: absolute;
    top: -110px;
    left: -80px;
    width: 50%;
    margin-top: 200px;
  }

  .illustration-shadow-desktop {
    display: block;
    width: 60%;
    top: 75px;
    left: -175px;
    position: absolute;
    overflow: hidden;
  }

  .illustration-box-desktop {
    display: block;
    position: absolute;
    top: 220px;
    left: -100px;
  }

  .illustration-pattern-desktop {
    width: 60%;
    top: -180px;
    left: -550px;
    position: absolute;
    overflow: hidden;
  }

  .mobile-illustration {
    display: none;
  }

  .illustration-shadow-mobile {
    display: none;
  }
}
